.main_one{
  width: 100%;
  padding-top: 1%;
}

.example-spacer {
  flex: 1 1 auto;
}

.ajustes{
  background-color: #483D8B;
  height: 50px;
  width: 95%;
  margin-left: 2.5%;
}

.whiteColor{
  color: white;
}

.redColor{
  color: red;
}
